/*
 * Custom CSS
 *
 */

*, *::before, *::after {
    outline: none !important;
}

::-moz-selection {
    color: #fff;
    background: #000;
}

::selection {
    color: #fff;
    background: #000;
}

body {
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    max-width: 1920px;
    background-color: #f8f9fa;
}

a {
    color: #212529;
}

a:hover {
    text-decoration: none !important;
}

.material-icons {
    font-size: 25px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: 'liga';
            font-feature-settings: 'liga';
}

#status {
    position: fixed;
    left: 2rem;
    bottom: 2rem;
    z-index: 1080;
}

.alert-darken {
    background-color: #2b2b2b;
    color: #bdbdbd;
    margin-top: .5rem;
    margin-bottom: 0 !important;
}

.alert-darken .close {
    top: .1rem;
    right: .3rem;
    margin: 0 !important;
    color: #fff!important;
    position: absolute !important;
    font-size: 15px !important;
}

.alert-darken .close:hover {
    color: #fff !important;
}

button {
    position: relative;
}

.btn:focus, .btn.focus {
    box-shadow: none !important;
}

.round-button {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: .3rem .3rem;
    font-size: 25px;
    line-height: 1;
    cursor: pointer;
    pointer-events: visible;
    -webkit-transition: background-color .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: background-color .3s cubic-bezier(.25,.8,.5,1);
    transition: background-color .3s cubic-bezier(.25,.8,.5,1);
}

.round-button.light:hover {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transition: background-color .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: background-color .3s cubic-bezier(.25,.8,.5,1);
    transition: background-color .3s cubic-bezier(.25,.8,.5,1);
}

.round-button.dark:hover {
    background-color: #efefef;
    -webkit-transition: background-color .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: background-color .3s cubic-bezier(.25,.8,.5,1);
    transition: background-color .3s cubic-bezier(.25,.8,.5,1);
}

.card:focus {
    box-shadow: 0 0 0 3px #e2e2e2;
}

.card:hover .card-dropdown,
.card:focus .card-dropdown {
    opacity: 1 !important;
    -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
    transition: all .3s cubic-bezier(.25,.8,.5,1);
}

.card .preview-thumb {
    color: #474747;
    -webkit-transition: color .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: color .3s cubic-bezier(.25,.8,.5,1);
    transition: color .3s cubic-bezier(.25,.8,.5,1);
}

.card .preview-thumb:hover {
    color: #212529;
    -webkit-transition: color .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: color .3s cubic-bezier(.25,.8,.5,1);
    transition: color .3s cubic-bezier(.25,.8,.5,1);
}

.card-dropdown {
    position: absolute;
    bottom: 0;
    right: 0;
}

.dropdown-menu {
    z-index: 1025;
    padding: 0;
    min-width: auto !important;
    -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.11);
            box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.11);
}

.dropdown-toggle::after {
    display: none !important;
}

.card-dropdown form {
    cursor: pointer;
}

.card-dropdown .dropdown-item div:first-child {
    min-width: 33px;
}

.dropdown-item {
    padding: .45rem 1.5rem !important;
}

.dropdown-item:first-child {
    border-radius: 0.25rem 0.25rem 0 0 !important;
}

.dropdown-item:last-child { 
    border-radius: 0 0 0.25rem 0.25rem !important;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #454545 !important;
}

#cardDropdown {
    color: #a0a0a0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#cardDropdown svg {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.card-img-top {
    font-size: 60px;
    min-height: 158px;
}

.card-title {
    margin-left: 18px;
}

.card-body h6:nth-child(2) {
    margin-right: 18px;
}

.card-icon {
    position: absolute;
    top: 4px;
    font-size: 16px;
}

.image-thumb {
    position: absolute;
    width: 100%;
    height: 100%;
}

.form-control:focus {
    border-color: #7d7d7d !important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;
}

//  LIST VIEW

.list-view.active,
.grid-view.active {
    background-color: #efefef;
}

.row.list > div {
    width: 100% !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
    max-width: 100% !important;
}

.row.list > div .card {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
}
.row.list > div .card-body {
    overflow: hidden;
}

.row.list > div .card .card-img-top {
    font-size: 40px !important;
    min-width: 40px !important;
    min-height: 40px !important;
    width: 40px !important;
    height: 40px !important;
    margin: 0 1rem !important;
    border-bottom: none !important;
}

.row.list > div .card .card-img-top h4 {
    display: none !important;
}

.row.list > div .preview-thumb .card-img-top .image-thumb {
    position: relative !important;
    width: 40px !important;
    height: 40px !important;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.row.list > div .card-body h6:nth-child(2) {
    margin-right: 0 !important;
}

.row.list > div .card-dropdown {
    position: relative !important;
    opacity: 1 !important;
    bottom: 0 !important;
    right: .5rem !important;
}

.row.list > div #cardDropdown svg {
    -webkit-transform: rotate(0) !important;
    -ms-transform: rotate(0) !important;
        transform: rotate(0) !important;
}

// LIST VIEW END

.settings-module #avatar {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.settings-module .avatar-placeholder {
    width: 150px;
    height: 150px;
}

.settings-module .change-avatar {
    color: transparent;
    z-index: 1;
    cursor: pointer;
}

.settings-module .avatar-overlay {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 0;
    -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
    transition: all .3s cubic-bezier(.25,.8,.5,1);
}

.settings-module .avatar-placeholder:hover .avatar-overlay, {
    opacity: 1;
    -webkit-transition: all .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: all .3s cubic-bezier(.25,.8,.5,1);
    transition: all .3s cubic-bezier(.25,.8,.5,1);
}

#nav {
    max-height: 57px;
    min-height: 57px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    z-index: 5;
}

#nav .logo {
    position: relative;
}

#nav .logo img {
    height: 30px;
}

#nav #nav-dropdown {
    display: none;
}

#nav .link-list .link-item {
    padding: 5px 0;
    margin: 0 8px;
}

#topnav {
    max-height: 57px;
    min-height: 57px;
    max-width: 1920px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: #f8f9fa;
}

#topnav .logo {
    position: absolute;
    top: 2px;
    left: 16px;
}

#topnav .logo img {
    height: 30px;
}

#topnav #form-sd {
    margin-left: 280px;
}

#topnav #form-sd .search-icon {
    font-family: "Material Icons";
    content: "search";
    position: absolute;
    right: 0;
    top: 0;
    color: #989898;
    font-size: 25px;
    padding: .3rem .3rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    padding: .3rem .3rem;
    font-size: 25px;
    pointer-events: none !important;
}

#topnav #form-sd .search {
    width: 100px;
    padding-top: .1rem;
    padding-bottom: .1rem;
    font-size: 20px;
    border: none;
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#topnav #form-sd .search:focus {
    width: 400px;
    padding-right: 2.2rem;
    padding-left: 1rem;
    background-color: #efefef;
    border-radius: 25px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#topnav #form-sm.show {
    top: initial !important;
}

#topnav #form-sm {
    position: absolute !important;
    top: -67px;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 57px;
    margin: 0 !important;
    background-color: #f8f9fa;
    z-index: 5;
}

#topnav #form-sm .search {
    width: 100%;
    font-size: 20px;
    border: none;
    background: transparent !important;
}

#topnav .user-panel #search-mobile--show {
    display: none;
}

#topnav .user-panel .dropdown-toggle,
#topnav .user-panel .dropdown-toggle:hover,
nav .dropdown-toggle,
nav .dropdown-toggle:hover {
    text-decoration: none;
    color: #212529;
}

#topnav .user-panel .user-name,
#nav .user-panel .user-name {
    max-width: 130px;
}

#topnav .user-panel .dropdown-item div:first-child,
nav .dropdown-item div:first-child {
    min-width: 33px;
}

#topnav .user-panel .admin-badge,
nav .admin-badge {
    position: absolute;
    bottom: 0;
    left: -2px;
    height: 12px;
    font-size: 10px;
    width: 12px;
    color: #c73131;
    background-color: #f8f9fa;
    border-radius: 50%;
}

#topnav .user-panel .admin-badge i,
nav .admin-badge i {
    font-size: 15px !important;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    z-index: 1035;
    background-color: #f8f9fa;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

#sidebar.show {
    -webkit-transform: translateX(0) !important;
    -ms-transform: translateX(0) !important;
        transform: translateX(0) !important;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    -o-transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

#sidebar .brand {
    margin: 0 -2px 0 15px;
    padding: 13px 0;
    border-right: 3px solid #f8f9fa;
}

#sidebar .brand img {
    height: 30px;
}

#sidebar .brand button {
    display: none;
}

#sidebar .item-list {
    display: block;
    position: relative;
    width: 100%;
    padding: 0.5rem 1.5rem;
    color: #6c757d;
    font-size: 18px;
    white-space: nowrap;
    -webkit-transition: background-color .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: background-color .3s cubic-bezier(.25,.8,.5,1);
    transition: background-color .3s cubic-bezier(.25,.8,.5,1);
}

#sidebar .item-list.active,
#sidebar .item-list:hover {
    color: #000;
    text-decoration: none;
    background-color: #efefef;
    -webkit-transition: background-color .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: background-color .3s cubic-bezier(.25,.8,.5,1);
    transition: background-color .3s cubic-bezier(.25,.8,.5,1);
}

#sidebar .item-list div:first-child {
    min-width: 35px;
}

.sidebar-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1034;
    background-color: rgba(0, 0, 0, 0.6);
}

#main {
    height: calc(100% - 57px);
    margin: 57px 30px 0 280px;
    position: relative;
}

#main .sub-header {
    top: 57px !important;
}

#file-info {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: calc(100% - 57px);
    margin-top: 57px;
    color: #212529;
    overflow-y: auto;
    -webkit-transform: translateX(320px);
        -ms-transform: translateX(320px);
            transform: translateX(320px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

#file-info.show {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: none;
}

#file-info .loader {
    background-color: #f8f9fa;
}

.content {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.content.showed-info {
    -webkit-transform: translateX(-320px);
        -ms-transform: translateX(-320px);
            transform: translateX(-320px);
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), -webkit-transform 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
}

.page-link {
    border-radius: 50% !important;
    margin: 0 1rem;
}

.page-link:active,
.page-link:focus {
    box-shadow: none !important;
}

.page-item.disabled .page-link {
    color: #b7b7b7 !important;
    background-color: transparent !important;
}

.result-count {
    font-size: 12px;
    padding: .25rem .5rem;
    margin: 0 .5rem;
    white-space: nowrap;
}

.modal-backdrop.show {
    opacity: 0.8 !important;
}

#upload_modal,
#preview_modal,
#share_modal {
    padding-right: 0 !important;
}

#share_modal .modal-dialog {
    height: 100vh;
}

#share_modal .modal-header {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
}

#upload_modal .modal-content {
    border-radius: 0 !important;
    height: 100%;
    color: #fff !important;
    background-color: transparent !important;
}

#upload_modal .modal-dialog {
    width: 100%;
    max-width: 100% !important;
    height: 100%;
    margin-left: 0 !important;
}

#upload_modal .modal-header {
    padding-top: .6rem !important;
    padding-bottom: .6rem !important;
    border: none !important;
    background-color: rgba(0, 0, 0, 0.75) !important;
}

#upload_modal #dropzone {
    border: none !important;
    background-color: transparent !important;
}

#upload_modal .dz-message {
    font-size: 25px;
}

#admin .item .list {
    max-height: 420px;
    overflow-y: auto;
}

// dropzone template

#upload_modal #file_preview {
    display: none;
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    border: 1px dashed #7b7b7b;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
}

#upload_modal .preview-row {
    margin-bottom: 2rem;
}

#upload_modal .preview-row:last-child {
    margin-bottom: 1rem !important;
}

#upload_modal #file_preview .preview-img {
    width: 40px;
    min-width: 40px;
    height: 40px;
}

#upload_modal #file_preview .progress {
    height: 2px !important;
    background-color: transparent !important;
}

#upload_modal #file_preview .progress-bar {
    background-color: #dadada !important;
}

#upload_modal #file_preview .success,
#upload_modal #file_preview .fail {
    display: none;
    font-size: 20px;
}

#upload_modal #file_preview .remove {
    font-size: 10px;
    min-width: 47px;
    text-align: center;
    cursor: pointer;
}

#upload_modal #file_preview .upload-error {
    color: #ff9e9e;
    font-size: 13px;
}

// dropzone template end

#preview_modal .modal-dialog {
    width: 100% !important;
    height: 100vh !important;
    max-width: 100% !important;
    max-height: 100vh !important;
    min-height: 100vh !important;
    margin: 0 !important;
    pointer-events: auto !important;
    overflow: hidden;
}

#preview_modal .preview-toolbar {
    padding-top: .6rem !important;
    padding-bottom: .6rem !important;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 15;
}

#preview_modal .preview-toolbar a,
#preview_modal .preview-toolbar a:hover {
    color: #fff;
}

#preview_modal .preview-container {
    height: calc(100% - 56px);
    z-index: 10;
}

#preview_modal .preview-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

#preview_modal .preview-content {
    -webkit-transition: transform .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: transform .3s cubic-bezier(.25,.8,.5,1);
    transition: transform .3s cubic-bezier(.25,.8,.5,1);
}

#preview_modal .preview-content.showed-info {
    -webkit-transform: translateX(-320px);
        -ms-transform: translateX(-320px);
            transform: translateX(-320px);
}

#preview_modal .preview-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    color: #fff;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-transform: translateX(320px);
        -ms-transform: translateX(320px);
            transform: translateX(320px);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.25,.8,.5,1);
    transition: -webkit-transform .3s cubic-bezier(.25,.8,.5,1);
    -o-transition: transform .3s cubic-bezier(.25,.8,.5,1);
    transition: transform .3s cubic-bezier(.25,.8,.5,1);
    transition: transform .3s cubic-bezier(.25,.8,.5,1), -webkit-transform .3s cubic-bezier(.25,.8,.5,1);
}

#preview_modal .preview-info.show {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}

#preview_modal .preview-info .audio-details,
#preview_modal .preview-info .video-details,
#preview_modal .preview-info .file-details {
    display: none;
}

#preview_modal .preview-item > * {
    display: none;
}

#preview_modal .preview-item img,
#preview_modal .preview-item video {
    max-width: 100%;
    max-height: 600px;
}

#preview_modal .preview-item .no-preview {
    font-size: 120px;
}

.error-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

footer {
    margin-top: 3rem;
    padding: 2rem 0;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #828282;
}

// Dark Theme

.dark-theme {
    background-color: #121212 !important;
    color: #626262 !important;
}

.dark-theme a {
    color: #626262;
}

.dark-theme #topnav,
.dark-theme #topnav #form-sm,
.dark-theme #sidebar,
.dark-theme .card {
    background-color: #1c1c1d !important;
    color: #626262 !important;
    border-color: #0c0c0c !important;
}

.dark-theme .card:focus {
    -webkit-box-shadow: 0 0 0 3px #262626 !important;
    box-shadow: 0 0 0 3px #262626 !important;
}

.dark-theme .brand {
    border-color: #1c1c1d !important;
}

.dark-theme #sidebar .item-list.active,
.dark-theme #sidebar .item-list:hover,
.dark-theme .dropdown-menu .dropdown-item:active,
.dark-theme .dropdown-menu .dropdown-item:hover {
    color: #d2d2d2 !important;
    background-color: #121212 !important;
}

.dark-theme .page-title {
    color: #d2d2d2 !important;
}

.dark-theme .dropdown-item,
.dark-theme .text-dark,
.dark-theme .text-dark:hover,
.dark-theme .card .card-body h6,
.dark-theme #cardDropdown,
.dark-theme #topnav .user-panel .dropdown-toggle,
.dark-theme #topnav .user-panel .dropdown-toggle:hover,
.dark-theme nav .dropdown-toggle,
.dark-theme nav .dropdown-toggle:hover,
.dark-theme #sidebar .item-list {
    color: #626262 !important;
}

.dark-theme .dropdown-menu {
    background-color: #1c1c1d !important;
    color: #626262 !important;
    border-color: #0c0c0c !important;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(14, 14, 14, 0.7) !important;
    box-shadow: 0px 0px 5px 5px rgba(14, 14, 14, 0.7) !important;
}

.dark-theme .search {
    color: #9e9e9e !important;
}

.dark-theme .search::-webkit-input-placeholder {
    color: #bfbfbf !important;
}

.dark-theme .search:-ms-input-placeholder {
    color: #bfbfbf !important;
}

.dark-theme .search::-ms-input-placeholder {
    color: #bfbfbf !important;
}

.dark-theme .search::placeholder {
    color: #bfbfbf !important;
}

.dark-theme #topnav #form-sd .search:focus,
.dark-theme #file-info .loader {
    background-color: #121212 !important;
}

.dark-theme .result-count {
    border-color: #272727 !important;
    color: #626262 !important;
}

.dark-theme #file-info {
    border-color: #0c0c0c !important;
    color: #626262 !important;
}

.dark-theme #topnav #form-sm form,
.dark-theme #file-info h5,
.dark-theme .dropdown-menu .dropdown-divider {
    border-color: #0c0c0c !important;
}

.dark-theme #file-info .text-secondary {
    color: #363636 !important;
}

.dark-theme hr,
.dark-theme .card .card-img-top {
    border-color: #121212 !important;
}

.dark-theme .list-view.active,
.dark-theme .grid-view.active,
.dark-theme .round-button.dark:hover {
    background-color: #232323 !important;
}

.dark-theme #main .sub-header {
    background-color: #121212 !important;
    border-color: #090909 !important;
}

.dark-theme .page-item.disabled .page-link {
    color: #242424 !important;
}

.dark-theme a[data-for*="audio"],
.dark-theme a[data-for*="audio"] + .card-body .card-icon {
    color: #734b8f !important;
}

.dark-theme a[data-for*="video"],
.dark-theme a[data-for*="video"] + .card-body .card-icon {
    color: #924155 !important;
}

.dark-theme a[data-for*="image"],
.dark-theme a[data-for*="image"] + .card-body .card-icon {
    color: #4b7e44 !important;
}

.dark-theme a[data-for*="archive"],
.dark-theme a[data-for*="archive"] + .card-body .card-icon {
    color: #a57744 !important;
}

.dark-theme a[data-for*="document"],
.dark-theme a[data-for*="document"] + .card-body .card-icon {
    color: #4f81a5 !important;
}

.dark-theme a[data-for*="other"],
.dark-theme a[data-for*="other"] + .card-body .card-icon {
    color: #4e8980 !important;
}

.dark-theme::-webkit-scrollbar-thumb,
.dark-theme ::-webkit-scrollbar-thumb {
    background: #232323 !important;
}

// Media Queries

@media(max-width: 992px) {
    #topnav .logo {
        position: relative !important;
        left: 0 !important;
    }

    #topnav #form-sd {
        max-width: 400px !important;
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }

    #topnav #form-sd .search:focus {
        width: 300px !important;
    }

    #main {
        margin: 57px 0 0 !important;
    }
    
    #sidebar {
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        transform: translateX(-250px);
        -webkit-box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.11);
        box-shadow: 0px 5px 15px 1px rgba(0, 0, 0, 0.11);
    }

    #sidebar .brand {
        border-right: 1px solid #dee2e6 !important;
    }

    #sidebar .brand button {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    #sidebar .brand-border {
        border-color: transparent !important;
    }
}

@media(max-width: 768px) {
    #topnav #form-sd {
        display: none !important;
    }

    #topnav .user-panel #search-mobile--show {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    #nav .link-list {
        display: none !important;
    }

    #nav #nav-dropdown {
        display: block !important;
    }

}

@media(max-width: 576px) { 
    #nav .user-panel .user-name,
    #topnav .user-panel .user-name {
        display: none !important;
    }

    #nav .user-panel .user-avatar,
    #topnav .user-panel .user-avatar {
        margin-right: 0 !important;
    }

    #main .sub-header {
        top: 55px !important;
    }

    #main .sub-header h4 {
        font-size: 18px !important;
    }

    .page-title {
        font-size: 23px;
    }

    #status {
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        padding: 1rem;
    }

    .tooltip {
        display: none !important;
    }

    .error-text {
        font-size: 22px;
    }

    footer {
        margin-top: 0 !important;
    }
}

@media(max-width: 394px) {
    #topnav .logo img,
    #sidebar .brand img {
        height: 25px;
    }

    #topnav .user-panel #upload-show {
        margin-right: 8px !important;
    }

    #topnav .user-panel #search-mobile--show {
        margin-right: 5px !important;
    }
}